.champion-builder-wrapper {
  height: 100%;
  min-height: 500px;
  width: 100%;
  background-color: red;

  div.ui.champion-card {
    margin: 20px auto;
    min-width: 460px;

    .description {
      min-height: 150px;

      .row {
        padding: 0;
      }

      .champion-stats-wrapper {
        display: contents;

        .stat-cell {
          width: 33.3%;
          height: 50px;
          background-color: #008000;
          border: solid 1px white;
          text-align: center;

          &:first-child {
            position: absolute;
            background-color: #ffff00;
            height: 150px;
          }

          i {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: 5px;
            font-size: 1.5em;
          }
        }
      }
    }

    .items-wrapper {
      display: flex;
      padding: 0;

      .add-item-wrapper, .item-wrapper {
        width: 50%;
        text-align: center;
        padding: 1em;
        border: solid 1px black;

        &:nth-child(odd) {
          border-right: solid 1px red;
        }

        &:nth-child(even) {
          border-left: none;
        }
      }
    }
  }
}
